%table{:class => "table table-bordered"}
	%thead
		%tr 
			%th Interpretation
			%th Etymology
			%tr
				%td#interpretation
				%td#etymology 
%table{:class => "table table-bordered"}
	%thead
		%tr 
			%th Nick Names
			%tr
				%td#alternative_names 
