%table{:class => "table table-bordered"}
	%thead
		%tr 
			%th Interpretation
			%th Etymology
			%tr
				%td= @name.interpretation
				%td= @name.etymology
%table{:class => "table table-bordered"}
	%thead
		%tr 
			%th Nick Names
			%tr
				%td= @name.alternative_names
