.row.span-12.text-center
	%h2 Discover Your State
%table{:class => "table table-bordered"}
	%thead
		%tr 
			%th Slogan
			%th Flower
			%tr
				%td
				%td
%table{:class => "table table-bordered"}
	%thead
		%tr 
			%th Kisses
			%tr
				%td 
