<iframe width="400" height="325" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="https://www.google.com/publicdata/embed?ds=z1ebjpgk2654c1_&amp;ctype=l&amp;strail=false&amp;bcs=d&amp;nselm=h&amp;met_y=unemployment_rate&amp;fdim_y=seasonality:S&amp;scale_y=lin&amp;ind_y=false&amp;rdim=country&amp;idim=country:US&amp;idim=state:ST010000&amp;ifdim=country&amp;hl=en_US&amp;dl=en_US&amp;ind=false"></iframe>

https://www.google.com/publicdata/explore?ds=z1ebjpgk2654c1_#!ctype=l&strail=false&bcs=d&nselm=h&met_y=unemployment_rate&fdim_y=seasonality:S&scale_y=lin&ind_y=false&rdim=country&idim=country:US&idim=state:ST010000&ifdim=country&hl=en_US&dl=en_US&ind=false


