.row.text-center.col-xs-12
	%h3#main_page_header Watch Your Data Grow
	%p#intro Let's start with your first name...
.row
	=render "names/form"
%br
.row.text-center.col-xs-12
	%p Data Powered By:
	=link_to " Wolfram Alpha  &", "http://www.wolframalpha.com/about.html" 
	=link_to " US Government ", "http://www.data.gov/"
				
.row.col-xs-12
	#object.pullUp

= render "/layouts/footer"