= render "names/info"

.row
	.col-xs-12.col-sm-6
		%div#alive-today
	.col-xs-12.col-sm-6
		%div#us_births

= render "names/state_form" 

//= render "/names/test" if @state

.row.span_12
	.span_6
		%div#love
	.span_6
		%div#dove