%h4 We think your name is:
%p=@name.interpretation


%h4 Possible NickNames
%p=@name.alternative_names

%h4 Current US Population
%p=@name.us_births
/ %p=@name.named_per_year
%h4 Birth Population Alive
%p=@name.us_population_alive
/ %h2 Common Age
/ %p=@name.most_commone_age
%h4 Etymology
%p=@name.etymology