= render "names/info"

.row
	.col-xs-12.col-sm-12
		%div#alive_today
	.col-xs-12.col-sm-12
		%div#us_births
#bar-sample

= render "names/state_form" 

//= render "/names/test" if @state

.row.span_12
	.span_6
		%div#love
	.span_6
		%div#dove